.cell_active{
    background-color: gray;
}

.create-group__schedule-table{
    width: 100%;
    /*display: flex;*/
    /*justify-content: center;*/
    text-align: center;
}

.cell{
    max-width: 100px;
}

/*table{*/
/*    max-width: 1200px*/
/*}*/